<div class="row">
    <div class="row">
        <div class="col-sm-8 vcenter">
            <h1>{{course.label}}</h1>
            <h2>Período Lectivo {{edition.date_start | date}} -
                {{edition.date_end | date}}</h2>
            <h3>Paralelo {{group.label}}</h3>
            <h4>Matr&iacute;culas</h4>
        </div><!--
        -->
        <div class="col-sm-4 vcenter">
            <a href="#!/courses/{{course.id}}/editions/{{edition.id}}/groups"
               class="btn btn-default"
               style="float: right">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <p>
        <a ng-if="group" class="btn btn-link"
           href="#!/courses/{{course.id}}/editions/{{edition.id}}/groups/{{group.id}}/enrollment-report">
            Nomina de Matriculados
        </a>

        <a ng-if="group" class="btn btn-link"
           href="#!/courses/{{course.id}}/editions/{{edition.id}}/groups/{{group.id}}/reporte-resumen">
            Resumen Reporte por Curso
        </a>

        <a ng-if="group" class="btn btn-link"
           href="#!/courses/{{course.id}}/editions/{{edition.id}}/groups/{{group.id}}/control-de-asistencia">
            Control de Asistencia
        </a>

        <a ng-if="group" class="btn btn-link"
           href="#!/courses/{{course.id}}/editions/{{edition.id}}/groups/{{group.id}}/enrollments/_new">
            Matricular Estudiante sin Registro Previo
        </a>

        <a ng-if="group" class="btn btn-link"
           href="#!/courses/{{course.id}}/editions/{{edition.id}}/groups/{{group.id}}/enrollments/_existing">
            Matricular Estudiante con Registro Previo
        </a>
    </p>
    <sa-enrollment-list ng-if="group"
                        enrollments="group.enrollments"></sa-enrollment-list>
</div>