<div class="row">
    <h1>{{course.label}}</h1>
    <h2>Período Lectivo {{edition.date_start | date}} - {{edition.date_end |
        date}}</h2>
    <h3>Paralelo {{group.label}}</h3>
    <h4>Establecer Profesor para Asignatura</h4>
    <form name="newGroupTeachingForm" class="form-horizontal" novalidate
          ng-submit="$ctrl.submit(form)">
        <div class="row" ng-if="error != null">
            <div class="col-md-12">
                <div class="alert alert-danger">{{error}}</div>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="subjectSelect">Asignatura</label>
            <select class="form-control" id="subjectSelect" required
                    ng-model="form.subject" name="subject"
                    ng-options="subject.label for subject in course.subjects | async">

            </select>
        </div>
        <div class="form-group" show-errors>
            <label for="userSelect">Profesor</label>
            <select class="form-control" id="userSelect" required
                    ng-model="form.user" name="user"
                    ng-options="user.name for user in users | async">

            </select>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">
                    <span ng-show="!saving">
                        <i class="fa fa-fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;
                        Establecer Profesor para Asignatura
                    </span>
                    <span ng-show="saving">
                        <i class="fa fa-spinner fa-pulse"
                           aria-hidden="true"></i>&nbsp;&nbsp;
                        Estableciendo Profesor para Asignatura
                    </span>
                </button>
                <a href="#!/courses/{{course.id}}/editions/{{edition.id}}/groups/{{group.id}}/teachings"
                   class="btn btn-default">Cancelar</a>
            </div>
        </div>
    </form>
</div>