<div class="row">
    <div class="col-md-12">
        <h2>Estudiantes</h2>
    </div>
    <div class="col-md-12"
         ng-show="($ctrl.enrollments | async:this).length > 0">
        <button class="btn btn-default" type="button"
                ng-click="$ctrl.all(true)">Todos
        </button>
        <button class="btn btn-default" type="button"
                ng-click="$ctrl.all(false)">Ninguno
        </button>
    </div>
    <div class="col-md-12">
        <div class="checkbox"
             ng-repeat="enrollment in $ctrl.enrollments | async:this | orderBy:'studentObj.name'">
            <label>
                <input ng-model="enrollment.selected" type="checkbox"
                       class="checkbox">
                {{enrollment.id}} {{enrollment.studentObj.name}}
            </label>
        </div>
    </div>
</div>
