<div class="row">
    <div class="col-md-12">
        <h2>Asignaturas</h2>
    </div>
    <div class="col-md-12"
         ng-show="($ctrl.subjects | async:this).length > 0">
        <button class="btn btn-default" type="button"
                ng-click="$ctrl.all(true)">Todas
        </button>
        <button class="btn btn-default" type="button"
                ng-click="$ctrl.all(false)">Ninguna
        </button>
    </div>
    <div class="col-md-12">
        <div class="checkbox"
             ng-repeat="subject in $ctrl.subjects | async:this">
            <label>
                <input ng-model="subject.selected" type="checkbox"
                       class="checkbox" ng-change="$ctrl.onNext()">
                {{subject.label}}
            </label>
        </div>
    </div>
</div>
