<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-2">
                <img src="/assets/images/institution-logo.jpg" style="width: 75px" />
            </div>
            <div class="col-xs-10">
                <div class="center bigtext" style="line-height: 1.1">UNIDAD EDUCATIVA "Dario Figueroa Larco"</div>
                <!--<div class="center blob">REPORTE PARCIAL DEL ESTUDIANTE</div>-->
                <div class="center blob">AÑO LECTIVO {{$ctrl.edition.date_start | date : 'yyyy'}} - {{$ctrl.edition.date_end | date : 'yyyy'}} JORNADA MATUTINA</div>
                <!--<div class="center blob" style="margin: 0 auto 0">JORNADA MATUTINA</div>-->
                <div class="student-name blob" style="margin: 0 auto 0">{{$ctrl.subject.label}}</div>
                <div class="blob" style="padding: 0 5px; text-transform: uppercase; margin: 0 auto 0; width: 90%; font-size: 12px">{{$ctrl.course.label}} PARALELO {{$ctrl.group.label}}</div>
                <div class="blob" style="padding: 0 5px; text-transform: uppercase; margin: 0 auto 0; width: 90%; font-size: 12px">{{($ctrl.subject.halves | async:this)[$ctrl.halfIdx].label}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        {{$ctrl.grades.subjects[$ctrl.subject.id]}}
        <table class="table table-bordered table-condensed" width="100%"
               cellpadding="1px" style="margin-bottom: 5px">
            <tbody>
            <tr class="blob" style="text-align: center">
                <td rowspan="2" colspan="2">Estudiante</td>

                <td
                        ng-repeat="partial in ($ctrl.subject.halves | async:this)[$ctrl.halfIdx].partials | async:this track by $index"
                        colspan="{{(partial.components | async:this).length}}"
                        style="font-size: 10px" width="40px">
                    {{partial.label}}
                </td>
            </tr>
            <tr class="blob" style="text-align: center; font-size: 8px">
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Trabajo Individual
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Trabajo Grupal
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Deber
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Lección
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Sumativa
                </td>

                <td ng-if="$ctrl.subject.qualitative">Nota</td>


                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Trabajo Individual
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Trabajo Grupal
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Deber
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Lección
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Sumativa
                </td>

                <td ng-if="$ctrl.subject.qualitative">Nota</td>


                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Trabajo Individual
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Trabajo Grupal
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Deber
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Lección
                </td>
                <td width="40px" ng-if="!$ctrl.subject.qualitative">
                    Sumativa
                </td>

                <td ng-if="$ctrl.subject.qualitative">Nota</td>

                <td ng-if="(($ctrl.subject.halves | async:this)[$ctrl.halfIdx].partials | async:this).length > 3">Nota</td>
           </tr>
            </tbody>
            <tbody>
            <tr
                    ng-repeat="enrollment in $ctrl.group.enrollments.getValue() | orderBy:'studentObj.name' track by $index"
                style="font-size: 10px; text-transform: uppercase; line-height: 1.1">
                <td><span class="sangria">{{$index+1}}</span></td>
                <td>
                    <span>{{enrollment.studentObj.name}}</span><br/>
                </td>

                <td></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>



                <td></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>


                <td ng-if="(($ctrl.subject.halves | async:this)[$ctrl.halfIdx].partials | async:this).length > 3"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>
                <td ng-if="!$ctrl.subject.qualitative"></td>

                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
