<div class="row dashboard">
    <div class="col-md-4 col-sm-6">
        <a href="#!/users">
            <h1><i class="fa fa-users"></i> Usuarios</h1>

        </a>
        <p>Crear nuevos usuarios, modificar usuarios existentes o eliminarlos.
        </p>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="#!/courses">
            <h1><i class="fa fa-briefcase"></i> Cursos</h1>
        </a>
        <p>Crear nuevos cursos, modificar cursos existentes o eliminarlos.
            Crear nuevas asignaturas, quimestres, parciales, componentes y
            evaluaciones. Crear nuevos Períodos lectivos y grupos.</p>
        <!--<a ng-href="{{can('courses__new') ? '#!/courses/_new' : ''}}"-->
        <!--ng-disabled="!can('courses__new')" class="btn btn-default"-->
        <!--style="float: right">-->
        <!--Nuevo Curso-->
        <!--</a>-->
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="#!/institutions">
            <h1><i class="fa fa-institution"></i> Centros Educativos</h1>
        </a>
        <p>Registrar centros educativos.</p>
        <!--<a ng-href="{{can('institutions__new') ? '#!/institutions/_new' : ''}}"-->
        <!--ng-disabled="!can('institutions__new')" class="btn btn-default"-->
        <!--style="float: right">-->
        <!--Nueva Instituci&oacute;n-->
        <!--</a>-->
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="#!/students">
            <h1><i class="fa fa-graduation-cap"></i> Estudiantes </h1>
        </a>
        <p>Modificar datos de estudiantes.</p>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="#!/enrollments">
            <h1><i class="fa fa-magic"></i> Matr&iacute;culas</h1>
        </a>
        <p>Matricular estudiantes previamente registrados. Matricular
            estudiante sin registro previo.</p>
    </div>
    <div class="col-md-4 col-sm-6">
        <a ng-href="#!/reports">
            <h1><i class="fa fa-file-text-o"></i> Reportes</h1>
        </a>
        <p>Visualizar reportes y documentos.</p>

    </div>
    <div class="col-md-4 col-sm-6">
        <a ng-href="#!/grades">
            <h1><i class="fa fa-save"></i> Notas</h1>
        </a>

        <p>Registrar notas de evaluaciones para estudiantes matriculados en
            cursos.</p>
    </div>
</div>