<div class="row">
    <div class="row" ng-if="error != null">
        <div class="col-md-12">
            <div class="alert alert-danger">{{error}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 vcenter">
            <h1>{{course.label}}</h1>
            <h2>{{subject.label}}</h2>
            <h2>Período Lectivo {{edition.date_start | date}} -
                {{edition.date_end | date}}</h2>
            <h3>Paralelo {{group.label}}</h3>
            <h4>Notas</h4>
        </div><!--
        -->
        <div class="col-sm-4 vcenter">
            <a href="#!/courses/{{course.id}}/editions/{{edition.id}}/groups"
               class="btn btn-default"
               style="float: right">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <label for="halfSelect">Quimestre</label>
            <select class="form-control" id="halfSelect" required
                    ng-model="form.half" name="half"
                    ng-options="half.label for half in subject.halves | async">

            </select>
        </div>
        <div class="col-md-4 col-sm-12" ng-if="form.half">
            <label for="partialSelect">Parcial</label>
            <select class="form-control" id="partialSelect" required
                    ng-model="form.partial" name="partial"
                    ng-options="partial.label for partial in form.half.partials | async"
                    ng-change="$ctrl.getEvaluations(form.partial)">

            </select>
        </div>
        <div class="col-md-4 col-sm-12" ng-show="form.partial != undefined || form.partial != null">
            <a class="btn" ng-class="{'btn-success': !editNote, 'btn-default': editNote}" ng-click="$ctrl.activateGradeEdition()" style="float: right; margin-top: 24px;">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;{{(editNote) ? 'Desabilitar Edición' : 'Habilitar Edición'}}
            </a>
        </div>
    </div>
    <form id="gradesForm" ng-submit="$ctrl.save()">
        <table class="table table-bordered" id="gradesTable" style="margin-top: 20px;">
            <thead>
            <tr>
                <th colspan="2">Estudiante</th>
                <th width="50px" style="text-align: center; font-size: 10px"
                    rowspan="2"
                    ng-repeat="component in form.partial.components | async:this">
                    {{component.label}}
                </th>
                <th width="70px" style="text-align: center" rowspan="2">Nota
                </th>
            </tr>
            <tr>
                <th width="50px">No.</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="enrollment in group.enrollmentsObj | orderBy:'studentObj.name'">
                <td>{{$index + 1}}</td>
                <td>{{enrollment.studentObj.name}}</td>
                <td ng-repeat="component in form.partial.componentsObj">
                    <input type="number" step="0.01" min="0" max="10"
                           name="grade-{{enrollment.id}}-{{component.id}}"
                           ng-model="enrollment.gradesObj[component.id]"
                           ng-if="!enrollment.disabled[component.id] || editNote">
                    <span ng-if="enrollment.disabled[component.id] && !editNote">
                        {{enrollment.gradesObj[component.id]}}
                    </span>
                </td>
                <td style="text-align: center">
                    <div ng-if="form.partial.componentsObj">
                        {{enrollment.gradesObj | gradesMean :
                        form.partial.componentsObj | number : 2}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <button type="submit" class="btn btn-primary" style="float: right;">
            <span ng-show="!saving">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Salvar Todas
            </span>
                <span ng-show="saving"><i class="fa fa-spinner fa-pulse"
                                          aria-hidden="true"></i>&nbsp;&nbsp;Salvando Todas</span>
            </button>
        </div>
    </form>

</div>