<div class="row">
    <div class="col-sm-12" ng-show="institutions.loading">
        <i class="fa fa-refresh fa-spin" aria-hidden="true"></i> Cargando...
    </div>
    <div class="col-sm-12" ng-show="!institutions.loading">
        <h1><i class="fa fa-institution"></i> Centros Educativos</h1>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
                    <input type="text" class="form-control" id="searchInput"
                           ng-model="search" placeholder="Buscar">
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" href="#!/institutions/_new">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <!--Nuevo Centro Educativo-->
                </a>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Provincia</th>
                <th>Cant&oacute;n</th>
                <th>Parroquia</th>
                <th>Tipo</th>
                <th style="text-align: right">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="institution in institutions | async:this | filter : search | limitTo : institutionsPerPage : (currentInstitutionsPage - 1) * institutionsPerPage ">
                <td>{{institution.name}}</td>
                <td>{{institution.province}}</td>
                <td>{{institution.canton}}</td>
                <td>{{institution.parish}}</td>
                <td>{{institution.type}}</td>
                <td align="right">
                    <a class="btn btn-warning"
                       href="#!/institutions/{{institution.id}}/_edit">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <a ng-click="$ctrl.openDeleteModal(institution)"
                       class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <ul uib-pagination
            ng-disabled="(institutions | async:this | filter : search).length <= institutionsPerPage"
            total-items="(institutions | async:this | filter : search).length"
            ng-model="currentInstitutionsPage"
            items-per-page="institutionsPerPage" boundary-link-numbers="true"
            max-size="7" force-ellipses="true" boundary-links="true"></ul>
    </div>
</div>
