<div class="row">
    <div class="col-md-12">
        <h1>
            <i class="fa fa-institution"></i>
            {{$ctrl.modeEdit ? 'Modificar Centro Educativo' : 'Nuevo Centro
            Educativo'}}
        </h1>
        <form name="institutionForm" class="form-horizontal" novalidate
              ng-submit="$ctrl.submit(form)">
            <div class="row" ng-if="error != null">
                <div class="col-md-12">
                    <div class="alert alert-danger">{{error}}</div>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label for="nameInput" class="col-sm-3 control-label">Nombre
                    *</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nameInput"
                           placeholder="Nombre del Centro Educativo"
                           required aria-describedby="nameHelpBlock"
                           ng-model="form.name" name="name"/>
                    <span id="nameHelpBlock" class="help-block">
                    Nombre del Centro Educativo (requerido).
                </span>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label for="typeSelect" class="col-sm-3 control-label">
                    Tipo *
                </label>
                <div class="col-sm-9">
                    <select class="form-control" id="typeSelect" required
                            ng-model="form.type" name="type">
                        <option>FISCAL</option>
                        <option>FISCOMISIONAL</option>
                        <option>MUNICIPAL</option>
                        <option>PARTICULAR</option>
                    </select>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label for="provinceSelect" class="col-sm-3 control-label">
                    Provincia *
                </label>
                <div class="col-sm-9">
                    <select class="form-control" id="provinceSelect" required
                            ng-model="form.province" name="province"
                            ng-options="province.name for province in provinces | async:this">

                    </select>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label for="cantonSelect" class="col-sm-3 control-label">
                    Cant&oacute;n *
                </label>
                <div class="col-sm-9">
                    <select class="form-control" id="cantonSelect" required
                            ng-model="form.canton" name="canton"
                            ng-options="canton.name for canton in form.province.cantons | async:this"
                            ng-disabled="!form.province">
                    </select>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label for="parishSelect" class="col-sm-3 control-label">
                    Parroquia *
                </label>
                <div class="col-sm-9">
                    <select class="form-control" id="parishSelect" required
                            ng-model="form.parish" name="parish"
                            ng-options="parish.name for parish in form.canton.parishes | async:this"
                            ng-disabled="!form.canton">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn"
                            ng-class="{'btn-primary': !$ctrl.modeEdit, 'btn-warning': $ctrl.modeEdit}"
                            ng-disabled="$ctrl.processing">
                        <i ng-if="$ctrl.processing"
                           class="fa fa-spinner fa-spin"
                           aria-hidden="true"></i>
                        <i ng-if="!$ctrl.processing && !$ctrl.modeEdit"
                           class="fa fa-plus"
                           aria-hidden="true"></i>
                        <i ng-if="!$ctrl.processing && $ctrl.modeEdit"
                           class="fa fa-edit"
                           aria-hidden="true"></i>
                        {{$ctrl.modeEdit ? 'Modificar Centro Educativo' : 'Nuevo
                        Centro Educativo'}}
                    </button>
                    <a href="#!/institutions"
                       class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
